@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* styles/globals.css
.menu-item::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 17px;
  right: 5px;
  left: -5px;
  height: 1px;
  z-index: 1;
  transition: all 0.4s ease-out;
  background-color: #E5BF4A;
}

.menu-item:hover::after {
  width: 100%;
} */
